{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": {
    "eslint":"git://github.com/eslint/eslint.git#fff52aecaf1d073952201b3f128e6664f529a24e"
  },
  "rules": {
    "eol-last": [0],
    "no-underscore-dangle": [0]
  }
}